@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    @if (Model != null && Model.Any()) // Verifica si el modelo no es null y contiene elementos
    {
        foreach (var sala in Model)
        {
            <div>
                <h3>@sala.Nombre</h3>
                <p>Ubicación: @sala.Ubicacion</p>
                <p>Capacidad: @sala.Capacidad</p>
                <a href="@Url.Action("Reservar", "Room", new { id = sala.IdSala })">Reservar</a>
            </div>
        }
    }
    else
    {
        <p>No hay salas disponibles.</p>// Mensaje si no hay salas
    }




    <button id="login">Login</button>
    <button id="mensaje">Obtener Mensaje</button>
    @section scripts
 {
        <script>
            let token = null;

         

            $('#mensaje').click(() => {
                if (!token) {
                    alert("Debe iniciar sesión");
                    return
                }

                $.ajax({
                    url: "/ObtenerMensaje",
                    method: "GET",
                    headers: { Authorization: `Bearer ${token}` },
                    success: (response) => {

                        alert(response.Mesanje);
                    },
                    error: (ex) => alert("Error en el Autorizacion")
                })
            })
        </script>
    }
</main>